.App{
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
ul {
  list-style: none;
}

li{
  display: inline; 
  margin: 10px; 
}

a {
    color: rgb(6, 82, 75); 
    font-size: 1em;
}

.active {
  color: #a58006;
}

