.App {
  text-align: center;
  display: block;
  margin: 40px auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 0 #eee;
  background: linear-gradient(rgb(88, 230, 95), rgb(241, 242, 245));
  width: 40%;
  padding : 10px;

}

